body{
    background-color: aqua;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    height: 70vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5vmin;
    justify-content: center;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    background-color: burlywood;
    color: black;
}
.msg_con{
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
    

}
.hide{
    display: none;
}
.reset{
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 1.2rem;
    


}